<div class="navbars">
    <div class="welcome">
         <h3>Welcome: <span>{{ name }}</span> </h3>
    </div>
    <div class="navlist">
        <ul>
            <li><a id="active" href="/dashboard">Home</a></li>
            <li><a href="/interview">Interview</a></li>
            <li><a href="/promotion">Promotion</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/mortivation">Mortivation</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </div>
</div>