<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
    <title>Document</title>
</head>
<body>
    <div class="content">
        <form action="/login" method="post">
            <h3 style="text-align: center;">Sign-In</h3>
            <p style="text-align: center;">Welcome back, login to proceed</p>
           <input type="email" name="usernames" autocomplete="off" id="usernames" placeholder="Enter useremail" required>
           <input type="password" name="userpassword" autocomplete="off" id="userpassword" placeholder="Enter password" required>
           <div class="linkls">
               <a href="/signup">Dont have account?</a>
           </div>
           <input type="submit" value="Sign-In">
        </form>
    </div>
</body>
</html>