{% extends 'base.html'%}

{% block title %}
  <title> {{ title }}</title>
{% endblock %}

{% block navbar %}
<div class="navbars">
    <div class="welcome">
         <h3>Welcome: <span>{{ name }}</span> </h3>
    </div>
    <div class="navlist">
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a  id="active" href="/interview">Interview</a></li>
            <li><a href="/promotion">Promotion</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/mortivation">Mortivation</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
  <div class="posts">
      {% for interview in interviews %}
         <div class="card">
            <div class="flex">
                <div class="author">{{ interview.author}}</div>
                <div class="author">{{ interview.category}}</div>
            </div>
             <div class="content">{{ interview.posts }}</div>
             <div class="feedback">
                 <div class="comments">
                     <form action="/comments/{{ interview.id }}" method="post">
                        <textarea name="postcomment" id="postcomment" cols="30" rows="10" placeholder="Tyep comment here" required></textarea>
                        <input type="submit" value="Send">
                    </form>
                 </div>
                
             </div>
             <div class="commentsect">
                <a href="/showcomments/{{ interview.id }}">See More...</a>
           </div>
         </div>
      {% endfor %}
  </div>
{% endblock %}