{% extends 'base.html' %}

{% block title %}
  <title>{{ title }}</title>
{% endblock %}
{% block body %}
<div class="loginform">
    <h2 class="titles">Sign-In</h2>
    <p>Welcome back, please login to proceed</p>
    <form action="/" method="post">
      <input type="email" name="username" id="username" placeholder="Enter useremail" required>
      <input type="password" name="passwords" id="passwords" placeholder="Enter password" required>
      <div class="links"><a href="/signin">Dont have account?</a></div>
      <input type="submit" value="Sign-In" id="signinbtn">
    </form>
</div>
{% endblock %}