{% extends 'base.html'%}

{% block title %}
  <title> {{ title }}</title>
{% endblock %}

{% block navbar %}
<div class="navbars">
    <div class="welcome">
         <h3>Welcome: <span>{{ name }}</span> </h3>
    </div>
    <div class="navlist">
        <ul>
            <li><a href="/dashboard">Home</a></li>
            <li><a href="/interview">Interview</a></li>
            <li><a id="active" href="/promotion">Promotion</a></li>
            <li><a href="/products">Products</a></li>
            <li><a href="/mortivation">Mortivation</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block body %}
<div class="posts">
    {% for promotion in promotions %}
       <div class="card">
          <div class="flex">
              <div class="author">{{ promotion.author}}</div>
              <div class="author">{{ promotion.category}}</div>
          </div>
           <div class="content">{{ promotion.posts }}</div>
           <div class="feedback">
            <div class="comments">
                <form action="/comments/{{ promotion.id }}" method="post">
                   <textarea name="postcomment" id="postcomment" cols="30" rows="10" placeholder="Tyep comment here" required></textarea>
                   <input type="submit" value="Send">
               </form>
            </div>
        </div>
        <div class="commentsect">
            <a href="/showcomments/{{ promotion.id }}">See More...</a>
       </div>
       </div>
    {% endfor %}
</div>
{% endblock %}